.card {
	background-color: #66FF66;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid grey;
	border-radius: 8px;
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	background-color: #009900;
}

img {
	width: 100px;
	border-radius: 50px;
}